$sunset: #ff4439;
$textcolour: white;

.fontdefaults {
    color: $textcolour;
    font-family: Georgia;
}

body {
    background-color: $sunset;
}

h1 {
    @extend .fontdefaults;
    font-weight: normal;
}

p {
    @extend .fontdefaults;
}